.login-container {
    text-align: -webkit-center;
}

.login-container section.form {
    width: 100%;
    max-width: 400px;
}

.login-container section.form img {
    width: 100%;
    max-width: 400px;
}

.login-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}